/* src/components/Header/Header.module.scss */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed; /* Agrega esta línea */
  top: 0;          /* Y esta, para que se mantenga en la parte superior */
  left: 0;         /* Y esta, para que abarque todo el ancho */
  width: 100%;     /* Y esta, para que el ancho sea completo */
  z-index: 100;    /* Y esta, para que se superponga a otros elementos */


  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 2rem;
      margin: 0;
      padding: 0;
      justify-content: center;

      li a {
        color: #ffffff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #00FF00;
        }
      }
    }
  }
}