.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  margin-top: auto; /* Esto lo empuja al final de la página */
}